#featured { background: url(../images/foundation/loading.gif) center center #f4f4f4 no-repeat; height: 30px; }
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img { display: block; }
